@model List<Pizza>;

@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
}
<div class="text-center mb-3">
    <h2 class="fw-bold">Menu da Davide</h2>
    <a class="btn add-btn btn-outline-light" asp-area="" asp-controller="Pizza" asp-action="Create">Aggiungi Pizza</a>
    <a class="btn add-btn btn-outline-light" asp-area="" asp-controller="Ingredient" asp-action="Index">Tutti gli ingredienti</a>
</div>

<div class="text-center m-auto row row-cols-1 row-cols-md-2 row-cols-lg-3">

    @if (Model.Count > 0)
    {
        @foreach (Pizza pizza in Model)
        {
            <div class="p-3">
                <div class="pizza_menu card col mb-3 fw-bold p-2 ">
                    <a href="@Url.Action("Details","Pizza",new {id = pizza.PizzaId})"><img class="card-img-top" width="100" src="@pizza.Image" /></a>
                    <div class="card-body">
                        <a href="@Url.Action("Details","Pizza",new {id = pizza.PizzaId})"> @pizza.Name</a>
                        <a href="@Url.Action("Details","Pizza",new {id = pizza.PizzaId})" class="d-block"> @pizza.?Category.Name</a>
                        <a class="btn btn-primary btn-sm d-block mb-1" width="100" href="@Url.Action("Update", "Pizza", new{id = pizza.PizzaId})">Modifica</a>
                        <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@pizza.PizzaId" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger btn-sm d-block w-100">Elimina</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div>
            <p colspan="4" scope="row"> Non ci sono pizze disponibili al momento! Ti tocca mangiare Tonno in scatola XD </p>
        </div>
    }
</div>

