@model Pizza

@{
    ViewData["Title"] = $"Pizza {Model.Name}";
}

<div class="text-center">

    <div class="pizza_menu card col mb-3 p-2 m-auto">
        <img class="card-img-top w-100" src="@Model.Image" />
        <div class="card-body text-black">
            <h2><strong>@Model.Name</strong></h2>
            <p>@Model.Description</p>

            <span><strong>Prezzo:</strong> @Model.Price € </span>
            <a class="btn btn-primary btn-sm d-block mb-1" width="100" href="@Url.Action("Update", "Pizza", new{id = Model.PizzaId})">Modifica</a>
            <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@Model.PizzaId" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger btn-sm d-block w-100">Elimina</button>
            </form>
        </div>
    </div>

</div>

