@using la_mia_pizzeria_post.Models
@model PizzasCategories;

@{
    ViewData["Title"] = "Update";
    Layout = "_MyLayout";


}

<div>

    <div class="container form-pizza">
        <form asp-controller="Pizza" asp-action="Update" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <strong>Nome:</strong>
                <input asp-for="Pizza.Name" class="d-block w-100" />
                <span asp-validation-for="Pizza.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Descrizione:</strong>
                <textarea rows="5" asp-for="Pizza.Description" class="d-block w-100"> </textarea>
                <span asp-validation-for="Pizza.Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <strong>Immagine </strong> <span>(fake img: "/img/img-6.jpeg"):</span>
                <input asp-for="Pizza.Image" class="d-block w-100" />
                <span asp-validation-for="Pizza.Image" class="text-danger"></span>
            </div>
            <strong>Price:</strong>
            <div class="mb-3">


                <div class="input-group">
                    <span class="input-group-text">€</span>
                    <input asp-for="Pizza.Price" type="text" class="form-control" aria-label="Amount (to the nearest Euro)">

                </div>
                <span asp-validation-for="Pizza.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Categoria:</strong>
                <select asp-for="Pizza.CategoryId" class="form-select" aria-label="Default select example">
                    @foreach (Category category in Model.Categories)
                    {
                        @if (Model.Pizza.CategoryId == category.Id)
                        {
                            <option selected value="@category.Id">@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
            </div>
            
            <div class="mb-3 bg-white form-checkbox rounded-2">
                <strong>Ingredienti:</strong>
                <div class="row row-cols-3  text-dark p-3">
                @foreach (Ingredient ingredient in Model.Ingredients)
                {
                    @if (Model.Pizza.Ingredients != null && Model.Pizza.Ingredients.Contains(ingredient))
                    {
                        <div class="mb-3 col">
                                <input class="form-check-input" checked type="checkbox" value="@ingredient.IngredientId" id="checkbox_@ingredient.IngredientId" name="SelectedIngredients">
                            <label class="form-check-label" for="checkbox_@ingredient.IngredientId">
                                @ingredient.Name
                            </label>
                        </div>

                    }
                    else
                    {
                        <div class="mb-3 col">
                                <input class="form-check-input" type="checkbox" value="@ingredient.IngredientId" id="@ingredient.IngredientId" name="SelectedIngredients">
                            <label class="form-check-label" for="checkbox_@ingredient.IngredientId">
                                @ingredient.Name
                            </label>
                        </div>
                    }
                }
                </div>
            </div>
            <div class="text-end">
                <input type="submit" class="btn btn-small btn-info" value="Salva">
            </div>
        </form>
    </div>
</div>
