@using la_mia_pizzeria_post.Models

@model IngredientIngredientsList;

@{
    ViewData["Title"] = "Ingredients";
    Layout = "_MyLayout";
}

<div class="text-center mb-3">
    <h2 class="fw-bold my-3">Lista di ingredienti</h2>

</div>
<div class="bg-pizza-black p-5">
    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">

            @Html.ValidationSummary()
        </div>
    }


    <div class="row row-cols-1 row-cols-md-2">
        @foreach (Ingredient ingredient in Model.Ingredients)
        {
            <div class="col d-flex justify-content-between">
            <form method="post" asp-controller="Ingredient" asp-action="Update" asp-route-id="@ingredient.IngredientId">
                @Html.AntiForgeryToken()
                <input asp-for="Ingredient.Name" class="form-control mb-1 text-white bg-pizza-black" type="text" value="@ingredient.Name" aria-label="default input example">
                <span asp-validation-for="Ingredient.Name" class="text-danger"></span>
                
            </form>
            <form method="post" asp-controller="Ingredient" asp-action="Delete" asp-route-id="@ingredient.IngredientId">
                    @Html.AntiForgeryToken()

                    <button type="submit" class="btn btn-danger" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>
                    </button>
            </form>
            </div>

        }
        </div>
        <form asp-controller="Ingredient" asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <strong>Aggiungi un nuovo ingrediente:</strong>
                <input asp-for="Ingredient.Name" class="d-block w-100" placeholder="pomodoro"/>
                <span asp-validation-for="Ingredient.Name" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </form>
    </div>
